*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: auto;
}

h1, p {
    text-align: center;
    font-weight: 800;
}

h1 {
    color: #e5306f;
    margin-top: 1em;
    margin-bottom: 1em;
}